@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0;
}

body {
    width: 80%;
    margin: auto;
}

header {
    width: 100%;
    text-align: center;
    font-family: 'Poppins';
    color: hsl(234, 12%, 34%)
}

header h1 {
    font-weight: 200;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 5px;
}

header h2 {
    font-weight: 600;
    font-size: 30px;
    margin-top: 0;
}

header span {
    display: block;
    font-size: 15px;
    width: 45%;
    margin: auto;
}

main {
    width: 100%;
    height: 700px;
    margin-top: 50px;
    text-align: center;
}

.cards {
    display: inline-block;
    width: 32%;
    height: 600px;
    vertical-align: top;
}

.card1, .card2, .card3, .card4 {
    display: block;
    width: 80%;
    height: 200px;
    margin: auto;
    padding: 25px;
    border-top: 4px solid;
    border-radius: 5px;
    font-family: 'Poppins';
    color: hsl(234, 12%, 34%);
    font-size: 15px;
    text-align: justify;
    -webkit-box-shadow: 0px 16px 15px -3px rgba(191,191,191,1);
    -moz-box-shadow: 0px 16px 15px -3px rgba(191,191,191,1);
    box-shadow: 0px 16px 15px -3px rgba(191,191,191,1);
}

.card1 {
    border-color: hsl(180, 62%, 55%);
    margin-top: 200px;
}

.card2 {
    border-color: hsl(0, 78%, 62%);
    margin-top: 25px;
    margin-bottom: 50px
}

.card3 {
    border-color: hsl(34, 97%, 64%);
    margin-top: 0;
}

.card4 {
    border-color: hsl(212, 86%, 64%);
    margin-top: 200px;
}

svg {
    display: block;
    margin-top: 50px;
    margin-left: inherit;
}

footer {
    text-align: center;
    margin-bottom: 30px;
}
